In [1]:
#import relevant libraries

#for data manipulation
import pandas as pd
#for numerical operations
import numpy as np
#for statistical visualization
import seaborn as sns
#library used for data plotting
import matplotlib as mat

In [4]:
#create a dataframe named grades and use it to read the dataset(excel file-student performance)
grades= pd.read_excel('student_performance.xlsx')

In [6]:
#shows info in the excel file
grades

,Access No,Gender,Age,Course,DSC3108,DSC3114,MTH3108,SYE3104
0,7896,Female,20,Computer Science,87.0,53.0,NaN,67
1,6543,Male,21,Computer Science,56.0,62.0,78.0,77
2,1234,Female,22,Information Technology,78.0,81.0,90.0,65
3,5436,Male,22,Data Science,98.0,88.0,NaN,76
4,7888,Male,21,Electronics and Communication Science,66.0,NaN,79.0,87
5,1111,Male,20,Data Science,23.0,71.0,34.0,70
6,8232,Female,21,Computer Science,87.0,98.0,72.0,89
7,9547,Male,21,Computer Science,NaN,55.0,90.0,93
8,7732,Female,20,NaN,NaN,67.0,78.0,97
9,9121,Female,23,Information Technology,50.0,21.0,45.0,82
10,3341,Female,22,Electronics and Communication Science,87.0,90.0,NaN,12
11,3876,Male,20,Data Science,NaN,45.0,98.0,63

In [5]:


#shows how many rows and columns there are respectively
grade_shape=grades.shape
print(grades.shape)

(12, 8)

In [8]:
#shows first 5 rows in the data
print(grades.head())

#show data types in data
grades.dtypes

   Access No  Gender  Age                                 Course  DSC3108  \
0       7896  Female   20                       Computer Science     87.0
1       6543    Male   21                       Computer Science     56.0
2       1234  Female   22                 Information Technology     78.0
3       5436    Male   22                           Data Science     98.0
4       7888    Male   21  Electronics and Communication Science     66.0

   DSC3114  MTH3108  SYE3104
0     53.0      NaN       67
1     62.0     78.0       77
2     81.0     90.0       65
3     88.0      NaN       76
4      NaN     79.0       87

Access No      int64
Gender        object
Age            int64
Course        object
DSC3108      float64
DSC3114      float64
MTH3108      float64
SYE3104        int64
dtype: object

In [11]:
#show detailed info that is missing
grades.isna

#find sum of missing data- brief
grades.isna().sum()

Access No    0
Gender       0
Age          0
Course       1
DSC3108      3
DSC3114      1
MTH3108      3
SYE3104      0
dtype: int64